# NumPy and Pandas for One Dimensional Data  

## Overview
### **NumPy (Numerical Python)**  
- Called an array  
- Simpler  

### **Pandas**  
- Called a series   
- More features  
- Built on NumPy Arrays

### Similarities
- Access elements by position, i.e. a[0]  
- Access a range of elements, i.e. a[1:3]  
- Use loops, i.e., for x in a:  

### Differences
- NumPy array: each element should have the same type  
- NumPy includes a bunch of convenient functions  
- NumPy arrays can be multi-dimensional  

---

## NumPy Array

NumPy Arrays are like souped-up Python lists

### Vectorized Operations  
A vector is a list of numbers   
NumPy supports Vectorized Operations between   
- 2 NumPy arrays or   
- 1 Numpy array and a single number  

**Vector Addition**
- NumPy: When you add two NumPy arrays, each element in the array is added together
- Python: When you add two lists together in Python, we get list concatentation (New list w/ all elements of the 1st list followed by all elements of the 2nd list) 

**Multipyling by a Scaler **  
- NumPy Arrays: Each element of the vector is multipled by 3  
- Python: creates a list with all of the values of the original list repeated 3 times

### **More Vectorized Operations**   

**Math Operations**  
Add, Subtract, Multiply, Divide, Exponentiate    

**Logical Operations **  
Make sure your arrays contain booleans  
And & , Or | , Not ~    

**Comparison Operations ** 
Greater: >  
Greater or equal >=  
Less <  
Less <=  
Equal ==    
Not equal !=   

### Slicing

When slicing NumPy array just creates a different view of the original array (not a copy!) So when you make changes, it will be reflected in the original array.


---

## Pandas Series  
A series is similar to a NumPy array, but with extra functionality, e.g. s.describe()

All the things we just learned how to do on NumPy arrays will also work on Pandas Series  
- Accessing elements s[0], s[3:7]  
- Looping for x in s  
- Convenient functions, i.e. s.mean(), s.max()    
- Vectorized Operations s1 + s2    
- Implemented in C (fast!)    

A Pandas series is like a cross between a list and a dictionary  
- lists are stored in order and can be accessed by position
- dictionary have a key and value, and you can look up values by key  

.iloc access code by position  
.loc lets you look up values by index label  

If you create a series without specifying an index, then it will automaticallyl assign one starting with 0

### Vectorized Operations and Series Indexes  
When you add two Numpy arrays, you're adding by position  

When you add Pandas series, you're adding by index (not position)
- indexes can be in different order.
- if there are indexes present in one series and not the other, get NaN

### For Non Built-In Calculations  
1. Treat the series as a list (for loops, etc)
2. Use the function apply()  
apply() takes a series and a function and returns a new series  

Similar to python function map() but apply works on series instead of lists

---


# NumPy and Pandas for Two Dimensional Data
  
### **Python:** List of lists    
- accessing elements a[1][3]  

### **NumPy: **2D Array
- more memory efficient than lists
- accessing elements is a bit different, i.e. a[1,3] 
- mean(), std(), operate on an entire array as a whole
 - To do operations along an axis (row or column)  
     - ridership.mean(axis = 0) function on each row
     - ridership.mean(axis = 1) function for each column 
 
 
### **Pandas:** Dataframe 
- preferred because more functionality  
- have indexes similar to Pandas Series
    - Can access elements using both indexes, i.e., ridership_df.loc['05-04-11', 'R004']
- great data structure to represent CSV file because it is a 2D data structure with a different type for each column  
- each column is assumed to a different type so operations like .mean are performed for each column automatically
- DataFrame vectorized operations are similar to vectorized operations for 2D NumPy arrays  
    - But match up elements by index and column name rather than position

In [27]:
import pandas as pd
subway_df = pd.read_csv('nyc_subway_weather.csv')

In [28]:
subway_df.head()

,UNIT,DATEn,TIMEn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,datetime,hour,day_week,...,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
0,R003,05-01-11,00:00:00,4388333,2911002,0.0,0.0,2011-05-01 00:00:00,0,6,...,30.22,0,55.9,3.5,0.0,30.258,55.98,7.86,40.700348,-73.887177
1,R003,05-01-11,04:00:00,4388333,2911002,0.0,0.0,2011-05-01 04:00:00,4,6,...,30.25,0,52.0,3.5,0.0,30.258,55.98,7.86,40.700348,-73.887177
2,R003,05-01-11,12:00:00,4388333,2911002,0.0,0.0,2011-05-01 12:00:00,12,6,...,30.28,0,62.1,6.9,0.0,30.258,55.98,7.86,40.700348,-73.887177
3,R003,05-01-11,16:00:00,4388333,2911002,0.0,0.0,2011-05-01 16:00:00,16,6,...,30.26,0,57.9,15.0,0.0,30.258,55.98,7.86,40.700348,-73.887177
4,R003,05-01-11,20:00:00,4388333,2911002,0.0,0.0,2011-05-01 20:00:00,20,6,...,30.28,0,52.0,10.4,0.0,30.258,55.98,7.86,40.700348,-73.887177

In [29]:
subway_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ENTRIESn,42649.0,2.812486e+07,3.043607e+07,0.000000,1.039762e+07,1.818389e+07,3.263049e+07,2.357746e+08
EXITSn,42649.0,1.986993e+07,2.028986e+07,0.000000,7.613712e+06,1.331609e+07,2.393771e+07,1.493782e+08
ENTRIESn_hourly,42649.0,1.886590e+03,2.952386e+03,0.000000,2.740000e+02,9.050000e+02,2.255000e+03,3.281400e+04
EXITSn_hourly,42649.0,1.361488e+03,2.183845e+03,0.000000,2.370000e+02,6.640000e+02,1.537000e+03,3.482800e+04
hour,42649.0,1.004675e+01,6.938928e+00,0.000000,4.000000e+00,1.200000e+01,1.600000e+01,2.000000e+01
day_week,42649.0,2.905719e+00,2.079231e+00,0.000000,1.000000e+00,3.000000e+00,5.000000e+00,6.000000e+00
weekday,42649.0,7.144364e-01,4.516877e-01,0.000000,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
latitude,42649.0,4.072465e+01,7.164979e-02,40.576152,4.067711e+01,4.071724e+01,4.075912e+01,4.088918e+01
longitude,42649.0,-7.394036e+01,5.971260e-02,-74.073622,-7.398734e+01,-7.395346e+01,-7.390773e+01,-7.375538e+01
fog,42649.0,9.824380e-03,9.863108e-02,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
precipi,42649.0,4.617693e-03,2.583151e-02,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e-01
pressurei,42649.0,2.997110e+01,1.379416e-01,29.550000,2.989000e+01,2.996000e+01,3.006000e+01,3.032000e+01
rain,42649.0,2.247415e-01,4.174169e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
tempi,42649.0,6.310378e+01,8.455597e+00,46.900000,5.700000e+01,6.100000e+01,6.910000e+01,8.600000e+01
wspdi,42649.0,6.927872e+00,4.510178e+00,0.000000,4.600000e+00,6.900000e+00,9.200000e+00,2.300000e+01
meanprecipi,42649.0,4.617693e-03,1.634424e-02,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.575000e-01
meanpressurei,42649.0,2.997110e+01,1.311584e-01,29.590000,2.991333e+01,2.995800e+01,3.006000e+01,3.029333e+01
meantempi,42649.0,6.310378e+01,6.939011e+00,49.400000,5.828333e+01,6.095000e+01,6.746667e+01,7.980000e+01
meanwspdi,42649.0,6.927872e+00,3.179832e+00,0.000000,4.816667e+00,6.166667e+00,8.850000e+00,1.708333e+01
weather_lat,42649.0,4.072856e+01,6.542018e-02,40.600204,4.068859e+01,4.072057e+01,4.075523e+01,4.086206e+01
weather_lon,42649.0,-7.393869e+01,5.958245e-02,-74.014870,-7.398513e+01,-7.394915e+01,-7.391203e+01,-7.369418e+01

In [30]:
# Create function to calculate Pearson's R
def correlation(x,y):
    std_x = (x - x.mean())/x.std(ddof = 0)
    std_y = (y - y.mean())/y.std(ddof = 0)
    
    return (std_x * std_y).mean()

In [31]:
correlation(subway_df['ENTRIESn_hourly'], subway_df['meanprecipi'])

0.03564851577223041

In [32]:
correlation(subway_df['ENTRIESn_hourly'],subway_df['ENTRIESn'])

0.5858954707662182